## Data Analysis Process

### Imports

In [2]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
uber = pd.read_csv('../data/processed_data.csv')

In [6]:
uber.head()

,fare_amount,pickup_longitude,pickup_longitude.1,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,hour
0,7.5,-73.999817,-73.999817,40.738354,-73.999512,40.723217,1,2015,5,7,19
1,7.7,-73.994355,-73.994355,40.728225,-73.994710,40.750325,1,2009,7,17,20
2,12.9,-74.005043,-74.005043,40.740770,-73.962565,40.772647,1,2009,8,24,21
3,5.3,-73.976124,-73.976124,40.790844,-73.965316,40.803349,3,2009,6,26,8
4,16.0,-73.925023,-73.925023,40.744085,-73.973082,40.761247,5,2014,8,28,17